-- ================================================================
-- Cadastro da analise 'vendas_por_periodo' -- rodar no banco de
-- CONFIG (analysis_config), NAO no banco data_db.
-- data_source_id gerado: 481e1af0-cb9c-4dd4-ab7a-71ca7b26496d
-- analysis_id gerado:    5e949539-6763-4bdc-b108-0504d8390d1a
-- ================================================================


INSERT INTO data_sources (id, name, type, connection_config, is_active, created_by)
VALUES (
    '481e1af0-cb9c-4dd4-ab7a-71ca7b26496d',
    'vendas_db_local',
    'postgresql',
    '{"host": "localhost", "port": 5432, "database": "data_db", "user": "chronus", "password": "gAAAAABqtHO9gPHswBwtTnXEev-baV6_rcyGT_-H-sov8WE6XHP3FMXGxdK8VsHiMVgC6KY_eb3Hmi-PFrKIZOGrQaDz8ye-wQ==", "sslmode": "prefer"}'::jsonb,
    true,
    'jose'
);




INSERT INTO analysis_steps (id, analysis_id, step_order, step_type, definition)
VALUES (
    '2010660d-2849-4879-be5b-c9d5a6c3b99b',
    '5e949539-6763-4bdc-b108-0504d8390d1a',
    1,
    'query',
    '{"sql": "SELECT data, valor, pago FROM vendas WHERE data BETWEEN :data_inicial AND :data_final AND (:pago IS NULL OR pago = :pago) ORDER BY data", "params": ["data_inicial", "data_final", "pago"]}'::jsonb
);

INSERT INTO data_sources (id, name, type, connection_config, is_active)
VALUES (
  gen_random_uuid(),
  'laboratorio_mysql',
  'mysql',
  '{"host": "localhost", "port": 3306, "database": "db_laudos", "user": "chronus", "password": "gAAAAABquwRJFGt-VRZwgEtBCWZP4Wxmn1uxD9TItp74H3ipaT-aHKA9cl3c8otchySJTpMZ7ePuL5Ow3EbFdWU3C068-wfJ7A==", "sslmode": "prefer"}'::jsonb,
  true
);


