SERVER_HOST=0.0.0.0
SERVER_PORT=3000
TLS_CERT_FILE=certs/server.pem
TLS_KEY_FILE=certs/server-key.pem
POSTGRES_CONFIG_HOST=localhost
POSTGRES_CONFIG_PORT=5432
POSTGRES_CONFIG_DATABASE=analysis_config
POSTGRES_CONFIG_USER=postgres
POSTGRES_CONFIG_PASSWORD=changeme
DEFAULT_MAX_RESULT_ROWS=500
DEFAULT_MAX_RESULT_SIZE_KB=150
FERNET_KEY=sua_chave_fernet_aqui